# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

.settings
.project
.classpath
.gradle
build/
out/
bin/
.idea/
*.iml
*.md.html
.externalToolBuilders
target/
.dropbox
~$*

!.mvn/wrapper/maven-wrapper.jar
!.idea/codeStyleSettings.xml